@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100 overflow-hidden w-screen h-screen;
  }

  tbody tr:nth-child(even) {
    @apply bg-gray-200;
  }

  tbody tr:nth-child(odd) {
    @apply bg-white;
  }

  table {
    @apply text-center;
  }

  thead th {
    @apply bg-gray-300;
  }

  th:first-of-type {
    border-top-left-radius: 10px;
  }

  th:last-of-type {
    border-top-right-radius: 10px;
  }
}

@layer utilities {
  .text-shadow {
    @apply drop-shadow-[1px_1px_6px_rgba(0,0,0,1)];
  }
}
